<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Доска объявлений</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'board/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'board/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Доска объявлений</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
          </li>
          {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Выход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post_create' %}">Добавить объявление</a>
          </li><li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Мой профиль</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Регистрация</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header>
  </header>
  <div class="container-fluid">
{% block content %}
{% endblock %}
  </div>
<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</body>

</html>